<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnjsp.mapper.BrandMapper">

    <resultMap id="brandMap" type="Brand">
        <id property="id" column="id"/>
        <result property="brandName" column="brand_name"/>
        <result property="companyName" column="company_name"/>
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
    </resultMap>
    <insert id="insertBrand">
        insert into tb_brand(brand_name, company_name, ordered, description, status, type_id)
        values (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status}, #{typeId})
    </insert>
    <update id="updateBrandById">
        update tb_brand
        set brand_name  = #{brandName}
          , company_name=#{companyName}
          , ordered=#{ordered}
          , description=#{description}
          , status=#{status}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from tb_brand
        where id = #{id}
    </delete>
    <delete id="deleteByIds">
        delete from tb_brand where id in
        <foreach collection="myIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" resultMap="brandMap">
        select *
        from tb_brand limit #{start}, #{pageSize}
        --         SELECT *
--         FROM tb_brand brd,
--              tb_type typ
--         WHERE brd.type_id = typ.type_id;
    </select>
    <select id="selectById" resultMap="brandMap">
        select *
        from tb_brand
        where id = #{id}
    </select>
    <select id="selectByname" resultMap="brandMap">
        select *
        from tb_brand
        where brand_name like concat('%', #{brandName}, '%')
           or company_name like concat('%', #{companyName}, '%')
           or status like concat('%', #{status}, '%');
    </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*)
        from tb_brand
    </select>
    <select id="searchpage" resultMap="brandMap">
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                or  brand_name like concat('%',#{brand.brandName},'%')
            </if>

            <if test="brand.companyName != null and brand.companyName != '' ">
                or  company_name like concat('%',#{brand.companyName},'%')
            </if>

            <if test="brand.status != null">
                or  status = #{brand.status}
            </if>

            <if test="brand.typeId != null">
                or  type_id = #{brand.typeId}
            </if>

        </where>
        LIMIT #{brand.pageNo}, #{brand.pageSize};
    </select>
    <select id="searchCount" resultType="java.lang.Integer">
        select count(*) from tb_brand
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                or  brand_name like concat('%',#{brand.brandName},'%')
            </if>

            <if test="brand.companyName != null and brand.companyName != '' ">
                or  brand.company_name like concat('%',#{brand.companyName},'%')
            </if>

            <if test="brand.status != null">
                or  status = #{brand.status}
            </if>

            <if test="brand.typeId != null">
                or  type_id = #{brand.typeId}
            </if>

        </where>
    </select>

</mapper>